.banner {
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
    background-color: rgb(224, 228, 246);
    height: 50px;
    
}

.title {
    font-size: 20px;
    color: #000;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    top: -10px;  /* Move up by 10px */
    right: 0;    /* Align to the right */
}

.burger-menu:hover {
    opacity: 0.7;
}

@media (min-width: 640px) {
    .burger-menu {
        top: 10px;  /* Adjust for medium screens */
        right: 0;
    }
}

@media (min-width: 1024px) {
    .burger-menu {
        top: -20px;  /* Adjust for large screens */
        right: 0;
    }
}